<?xml version='1.0' encoding='utf-8'?>
<widget id="com.vocabulary.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Vocab App</name>
    <description>English Vocabulary Learning App</description>
    <author email="developer@example.com">Tamer</author>
    
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- تفعيل صلاحيات الصوت والمايكروفون للأندرويد -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
        </config-file>
    </platform>
</widget>